*{
    margin: 0%;
    padding: 0%;
    color: white;
}
.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.amazon1{
    height: 30px;
    width: 80px;
    padding-top: 0px;
    padding-left: 20px;
}
.amazon{
    display: flex;
}
.in{
    padding-top: 25px;
    display: flex;
}
.border{
    border: 2px solid transparent;
    
}
.border:hover{
    border: 2px solid white;
    border-radius: 5px;
}
.location{
    display: flex;
}
.address{
    padding: 20px;
}
.Update{
    font-size: 1.2em;
}
.search{
    display: flex;
}
.select{
    background-color: white;
    height: 38px;
    width: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
option{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search1{
    height: 38px;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}
.bi {
    background-color: orange;
    font-size: 0.5em;
    height: 38px;
    width: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
 .search1:hover{
    border: 4px solid orange;
 }
 .bi:hover{
    border: 4px solid orange;
 }
 option:hover{
    border: 4px solid orange;
 }
.return{
    margin: 20px;
}
.orders{
    font-size: 1.3em;
    font-weight: 10px;
}
.cart{
    display: flex;
}
.cart1{
    margin-top: 40px;
}
.sing{
    margin: 20px;
}
.navbar2{
    background-color: rgb(49, 47, 47);
    display: flex;
}
.list{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.sell{
    display: flex;
    padding: 10px;
}
.sell1{
    padding-left: 10px;
    border: 2px solid transparent;
}
.sell1:hover{
    border: 2px solid white;
}
.list:hover{
    border: 2px solid white;
}
.shop{
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
   
}
.box{ 
    background-color:white;
    color: black;
    height: 400px;
    width: 28%;
    margin: 20px;
}
.image{
    height: 300px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
}
.font{
    color: black;
    font-size: 1.4em;
    font-weight: bold;
}
.seemore{
    color: skyblue;
    margin-bottom: 10px;
}
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
    padding-left: 50px;
  }
  
  .vishnu {
    flex: 1 1 9%; 
    margin: 5px;
  }
  
  .vishnu img {
    width: 100%;
    height: auto;
    display: block;
  }
  .vishnu{
    border: 2px solid antiquewhite;
  }
  .footer{
    background-color: #0f1111;
  }
.information{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}
.get{
    margin: 20px;
}
.main{
    font-size: 1.2em;
    font-weight: bold;
}
.logo{
    height: 50px;
    width: 90px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    border-bottom: 2px solid black;
}
.end{
    text-align: center;
}

